@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	@apply bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100;
}

@layer base {
	h1 {
		@apply text-5xl font-extrabold;
	}
	h2 {
		@apply text-4xl font-bold;
	}
	h3 {
		@apply text-3xl font-bold;
	}
	h4 {
		@apply text-2xl font-bold;
	}
	h5 {
		@apply text-xl font-bold;
	}
	h6 {
		@apply text-lg font-bold;
	}
}
